<div #parent_node
     class="parent-node-container">
    <button #button (click)="clicked()" mat-raised-button color="primary">Click</button>
    <div class="plus-default-node node-button">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>D
        </button>
    </div>
    <div class="plus-push-node node-button">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>P
        </button>
    </div>
    <div class="remove-node node-button">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
<div class="nodes-container">
    @for (node of node?.children; track node.id) {
        @if (node?.strategy === onPushStrategy) {
            <app-ng-push-node [node]="node">
            </app-ng-push-node>
        } @else if (node?.strategy === defaultStrategy) {
            <app-ng-default-node [node]="node">
            </app-ng-default-node>
        }
    }
</div>
