# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
Thumbs.db
*.log

# IDE - VSCode
.vscode

# IDE - WebStorm/IntelliJ
.idea

.angular

# environment configs
.env
.env.test
